.amap-marker .marker-route {
    position: absolute;
    width: 40px;
    height: 44px;
    color: #e90000;
    background: url(http://webapi.amap.com/theme/v1.3/images/newpc/poi-1.png) no-repeat;
    cursor: pointer;
}
.amap-marker .marker-marker-bus-from {
    background-position: -334px -180px;
}

.amap-marker .marker-marker-bus-to {
    background-position: -334px -138px;
}

#container {
    top: 5rem;
    height: 80%;
}

.button_group .button {
    width: 20%;
    height: 3rem;
    background: #82d5f4;
    border-radius: .7rem;
    border: none;
    color: #fff;
    margin-left: 2%;
    font-size: 1.6rem;
    outline: none;
    position: absolute;
    right: 1rem;

    border: #3eb3f2 solid 1px;
    background: linear-gradient(#bdbdbd, #bdbdbd);
}