
html{
	position:relative;
	min-width: 320px;
	overflow-x: hidden
}
.list-title-c{
	overflow:hidden;
}
.list-title-c div{
	width:40%;
	float:left;
	text-align:center;
	height:4.3rem;
	line-height:4.3rem;
}
.list-title-c .list-title{
	font-size:1.6rem;
	padding:.3rem 5%;
	font-weight:600;
	
}
.list-title-c .list-title div{
	width:2.5rem;
	height:2.5rem;
	margin-top:.9rem;
	margin-right:2%;
	float:left;
	display:none;
}

.list-title-c .list-title p{
	text-align:center;
}
.list-title-c .list-title span{
	font-weight:500;
	float:right;
	margin-right:2%;
}
.list-title-c .list-title button{
	float:right;
	background:#95c7ff;
	border:none;
	color:#fff;
	width:40%;
	height:2.5rem;
	margin-top:.9rem;
	font-size:1.5rem;
	border-radius:.7rem;
	font-weight:600;
	outline: none;
}
.VehicleManages{
	display:none;
	overflow:hidden;
	background:#fff;
}
.VehicleManages div{
	float:left;
}
/*车辆信息*/
.banner{
	padding:5%;
	background:#fff;
	border-bottom:#ccc solid 1px;
}
/*车辆信息结束*/

/*车辆管理*/
.VehicleManages li{
	height:4.3rem;
	line-height:4.3rem;
	border-bottom:#ebebeb solid 1px;
	padding:0 5%;
	font-weight:700;
	font-size:1.6rem;
}
.VehicleManages li:hover{
	background:#fbfbfb;
}
.VehicleManages p{
	padding:0 .6rem;
	line-height:2rem;
	border:none;
}
.VehicleManages span{
	word-break: break-all;
	font-size:1.6rem;
	display:block;
	float:left;
}
.VehicleManages span:nth-child(2n){
	float:right;
	font-weight:500;
	color:#878787;
}
.VehicleManages li .red{
	color:#ff3c3c;
}
.VehicleManages p .rose{
	color:#ff5e5e;
}
/*车辆监控*/
.VehicleManages div .dot{
	width:1rem;
	height:1rem;
	margin-top:.5rem;
	border-radius:.5rem;
	float:right;
}
.VehicleManages .untreated{
	width:19%;
	color:#fff!important;
	text-align:center;
	font-size:1.2rem;
	background:url(../../images/bg_untreated.png);
	background-size:100% 100%;
}
.VehicleManages .treated{
	width:19%;
	color:#fff!important;
	text-align:center;
	font-size:1.2rem;
	background:url(../../images/bg_processed.png);
	background-size:100% 100%;
}
.Maintenance img{
	width:80%;
	float:right;
}
.time p,.year p{
	font-size:1.6rem;
	text-align:center;
	line-height:3rem;
}
.year input,.time input{
	border:#3eb3f2 solid 1px;
	border-radius:.5rem;
	height:2rem;
	text-align:center;
	font-size:1.6rem;
	color:#a6a6a6;
	margin:0 15%;
	width:70%;
	margin-bottom:6%;
	outline: none;
}
.time input{
	margin:0 2%;
	width:42%;
}
.btn{
	width:50%;
	height:2.8rem;
	margin:7% 25%;
	background:#3eb3f2;
	border-radius:.7rem;
	border:none;
	color:#fff;
	font-size:1.6rem;
	outline: none;
}
/*车辆监控结束*/

/*运营统计*/
.statistics-wrap{
	text-align: left;
	background:#fff;
	display:none;
}
.statistics-wrap .j_c {
	width: 100%;
	font-size: 1.6rem;
	color: #555;
}
.statistics-wrap .j_c th, .statistics-wrap .j_c td {
	text-align: center;
	border-bottom: 1px solid #ededed;
	height: 3.8rem;
	/*line-height: 3.8rem;*/
	padding:.2rem 3%;
}
.statistics-wrap .j_c th {
	font-size: 1.7rem;
	color: #FFF;
	background: #3acb4f;
}
.statistics-wrap .j_c th:first-child{
	background: #3eb3f2;
}
.statistics-wrap .j_c td:first-child{
	font-weight:700;
}
.statistics-wrap .j_c th:nth-child(2n){
	background: #0083c9;
}
.statistics-wrap .j_c th:last-child{
	background: #f9b846;
}
.statistics-wrap .j_c tr:hover{
	background:#fbfbfb;
}
.statistics-wrap .j_c tr .red{
	color:#ff3c3c;
}
.statistics-wrap .j_c tr .default{
	color:#878787;
}
/*运营统计结束*/

/*底部导航*/
.tabBar_pos{
	height:6rem;
}

.tabBar{
	width:100%;
	overflow:hidden;
	position:fixed;
	bottom:0;
	border-top:#ededed solid 1px;
}
.tab_nav li{
	width:21%;
	float:left;
	padding:2%;
	font-size:1.4rem;
	text-align:center;
	background:#fff;
	color:#606060;
}
.tab_nav1 li{
	width:46%;
}
.tab_nav li div{
	width:46%;
	margin:auto;
	margin-bottom:5%;
}
.tab_nav1 li div{
	width:22%;
}
.tabBar .current{
	color:#009fe3;
}
/*底部导航结束*/


